body{
    background: rgb(170, 179, 174);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 120px auto;
    max-width: 600px;
}
h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: rgb(10, 9, 9);
    text-align: center;
}

header{
    margin-bottom: 30px;
}
.form-container{
    padding: 5px 30px;
    background-color: azure;
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    margin-bottom: 30px;
}
form{
    display: flex;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(149, 194, 187, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #36b91c;
}

.submit-button {
  margin-left: 10px;
  background: #885df1;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}


.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}
footer{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;

}
.hidden{
    display: none;
}
.poem strong{
    color: aqua;
}

