body{
    background: rgb(170, 179, 174);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 120px auto;
    max-width: 600px;
}
h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: rgb(10, 9, 9);
    text-align: center;
}

header{
    margin-bottom: 30px;
}
form{
    padding: 30px;
    background-color: azure;
    border-radius: 10px;
    display: flex;
    box-shadow: #4cc548;
    margin-bottom: 30px;
}
.instructions{
    padding: 16px;
    border: 1px solid rgba (38, 32,64, 0.4);
    width: 70%;
    font-size: 16px;
    border-radius: 48px;
    line-height: 20px;
}
.submit-button{
    margin-left: 8px;
    background: #324620;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 25px;
    width: 130px;
    font-size: 16px;
}

.poem{
    font-size: 14px;
    background-color: beige;
    padding: 20px;
    line-height: 24px;
    border-left: 3px solid  #324620;
    box-shadow: #4cc548;
    border-radius: 10px;

}
footer{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;

}
